/* styles.css */

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  header {
    background-color: #f2f2f2;
    padding: 20px;
  }

   /* Header styling */
   .company-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navbar a:hover {
    background-color: #4CAF50;
  }
  
  .navbar a.active {
    background-color: #4CAF50;
  }
  
  .self-evaluation-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
  }
  
  section {
    padding: 40px 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .service-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .service-box h3 {
    margin-top: 0;
  }
  
  .service-box p {
    margin-bottom: 10px;
  }
  
  .service-box a {
    text-decoration: none;
    color: #4CAF50;
  }

  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #777;
  }

  article {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  .begin-test-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  table {
    border-collapse: collapse;
    margin-top: 40px;
    width: 100%;
  }
  
  table th,
  table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  table th {
    background-color: #f2f2f2;
  }

  
  